extends ../layout/layout

block content
  .title ember 优化尝试
  .content
    table
      tbody
        tr
          td 生成组件
          td
            .list
              .atom ember g component component-name
              .atom ember test 报错： ember component test undefined is not an object
              .atom assert.equal()  //会报错
              .atom this.render() //会报错   －  替换成this.$()  －－－－具体原因不知道
        tr
          td 组件测试
          td
            .list
              .atom ember components attributeBindings : [property name] 必加, 加上才能在tests中通过this.$().attr(property_name) 获取对应的值
              .atom ember-qunit test 例子
                a(href="https://guides.emberjs.com/v1.10.0/testing/testing-components/") https://guides.emberjs.com/v1.10.0/testing/testing-components/
        tr
          td controller 测试
          td
            .list
              .atom ember controller test
              .atom controller/my_controller/a.js
              .atom ModuleFor("controller:"{})
        tr
          td ember component tagName
          td
            .list
              .atom 在template使用component时，会默认将component包起来, 可以通过tagName 设置成指定的
                .step eg：tagName: ""
                .step tagName: "wrapper"
              .atom 如果tagName 为空时 this.$() 应该是拿不到当前元素的
              .atom 个人理解：  tagName 相当于设置了一个域，类似namespace,  如果为空时，就相当于去掉了作用于，尤其是在一些页面里面需要反复使用同一个组件，但是又使用别的前端框架，不希望component又包一层
              .atom 解决思路： tagName： 不需要置为空 //确保每个component都有自己的作用域名, classNames: 设置 //可用数组 eg. classNames: ["a", "b"]