extends ../layout/layout

block content
  .title 安装
  .content
    table
      tbody
        tr
          td ffmpeg 安装
          td
            .list
              .atom 官网: git clone git://source.ffmpeg.org/ffmpeg.git ffmpeg
              .atom cd ffmpeg && ./configure && make & make install
              .atom 如果需要: sudo apt-get yasm
        tr
          td mac 下go的安装
          td
            .list
              .atom 1. https://golang.org下载
              .atom 2. 设置gopath
              .atom go run 执行程序  go build(需要看一下它们两个的区别)