extends ../layout/layout

block content
  .title sublime text usage
  .content
    table
      tbody
        tr
          td 分屏
          td command + alt + 1/2/3/4
        tr
          td 关闭文件
          td cmd + w
        tr
          td 前往文件
          td win + t
        tr
          td 选中一行（重复按下将下一行加入选择）
          td win + l
        tr
          td 改为大写
          td win + KU
        tr
          td 改为小写
          td win + KL
        tr
          td 切换窗口
          td ctrl + 数字
        tr
          td 显示/隐藏左边目录树
          td win + k + b