extends ../layout/layout

block content
  .title time parse
  .content
    table
      tbody
        tr
          td(colaspe="2") javascript moment 时间转换
        tr
          td moment获取星期
          td
            .list
              .atom moment().isoWeekday() // get week num
              .atom moment().format("d") // get week num string - 1
              .atom moment().format("dd") // get week num string - Tu
              .atom moment().format("ddd") // Mon
        tr
          td 本周开始日期－结束日期
          td
            .list
              .atom moment().weekday(0)
              .atom moment().day("Sunday")
              .atom moment().weekday(6)
        tr
          td 语言切换
          td moment().locale("en/zh-cn").format()