extends ../layout/layout

block content
  .title terimal/vi 尝试
  .content
    table
      tbody
        tr
          td 光标上下左右
          td hjkl   ←↓↑→
        tr
          td mac分割屏幕
          td command + d 垂直分割当前标签页
        tr
          td 切换terimal tab
          td command + shift + { 或者是} 切换tab
        tr
          td nerdtree分屏
          td
            .list
              .atom 左右分屏 :sp filename
              .atom 上下分屏 :vsp filename
              .atom 切换分屏 ctrl + w hjkl
        tr
          td 配置vim
          td
            .list
              .atom
                a(href="https://github.com/yangyangwithgnu/use_vim_as_ide", target="_blank") 参考地址
              .atom
        tr
          td vim插件
          td
            .list
              .atom vimrc 中填写插件信息plugin ""
              .atom 打开vim编辑
              .atom 安装插件  :PluginInstall
              .atom 删除插件 在vimrc中注释或者是删除插件信息
              .atom 然后执行  :PluginPluginClean
              .atom 更新插件 因为一些插件问题需要升级vim ——》7.4
              .atom brew upgrade vim
              .atom js 代码补全 youcompeleteme http://blog.marchtea.com/archives/161
        tr
          td tmux 调整控制面板大小
          td
            .list
              .atom ctrl z + J 缩小下面
              .atom ctrl z + K 缩小上面